@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@font-face{
	font-family: 'Guilty Treasure';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/guiltytreasure/guilty_treasure-webfont.woff') format('woff'),
	     url('fonts/guiltytreasure/guilty_treasure-webfont.ttf') format('truetype'),
	     url('fonts/guiltytreasure/guilty_treasure-webfont.svg#webfont') format('svg');
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
  color: black;
}

html, body {
  width: 100%;
  height: 100%;
  color: rgb(28, 31, 33);
  margin: 0px;
  padding: 0px;
  font-family: 'Guilty Treasure', sans-serif;
}

.row {
  margin: 0;
}
.navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
}


.header {
  width: 100%;
  height: 80px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
.header h1 {
    font-size: 48px;
    margin-left: 25px;
    padding-top: 13px;
}

.social-media ul {
  margin-top: 13px;
  margin-right: 20px;
}
.social-media li {
  display: inline;
  float: right;
  padding: 10px;
  font-size: 25px;
}

.social-media li a {
    color: rgb(28, 31, 33);
}

.is-scrolled {
  color: white;
  background-color: black;
}
.container-fluid {
  padding: 0;
  width: 100%;
}
.carousel  {
  top: 80px;
  width: 100%;
}
.carousel-item {
  height: 550px;
}
.product-info {
  width: 100%;
  margin-top: 150px;
  color: #756f6b;
  font-family: 'Roboto', sans-serif;
}
#shadowFlask {
  max-width: 120%;
  margin-left: -130px;
}
.right h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2.0rem;
}
.circle-bullet {
    border: 1px solid hsla(24,4%,44%,.1);
    color: hsla(24,4%,44%,.9);
    text-align: center;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin: 20px;
}

.circle-bullet p {
  margin-top: 7px;
}

.learn-more {
    height: 30px;
    width: 150px;
    font-size: 15px;
    background-color: rgb(180, 133, 78);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5px;
    font-family: sans-serif;
    border-radius: 4px;
}

.content-seperator {
  height: 130px;
  width: 100%;
  border-top: 1px solid rgba(117, 111, 108, 0.1);
  border-bottom: 1px solid rgba(117, 111, 108, 0.1);
}

.product-heading {
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.product-heading h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.products {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.flasks .col-sm {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

.flasks  img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* .cart-button {
  width: 50%;
  background-color: rgb(180, 133, 78);
  margin: 0 auto;
} */

.products p {
  font-size: 20px;
  margin: 0;
}
.cart-button a {
  color: black;
}

a:hover {
 color: rgb(180, 133, 78);
}
.footer {
  width: 100%;
  height: 300px;
  background-color: #e6e6e6;
}

@media screen and (max-width: 760px) {

  .social-media {
    display: none;
  }
  .carousel-item {
    height: 50%;
  }

  .right h2 {
    text-align: center;
  }
  .circle-bullet {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .bullet {
    text-align: center;
    margin-bottom: 20px;
  }

  .product-info {
    margin-bottom: 30px;
  }
}
